[submodule "Java与智能设备方向课程/Android源生AR应用开发"]
	path = Java与智能设备方向课程/Android源生AR应用开发
	url = https://github.com/edu2act/course-AndroidAR
[submodule "H5与移动互联网方向课程/Unity3D"]
	path = H5与移动互联网方向课程/Unity3D
	url = https://github.com/edu2act/course-Unity3D.git
[submodule "H5与移动互联网方向课程/AngularJS"]
	path = H5与移动互联网方向课程/AngularJS
	url = https://github.com/edu2act/course-AngularJS.git
[submodule "测试方向课程/APP-Testing"]
	path = 测试方向课程/APP-Testing
	url = https://github.com/edu2act/course-APP-Testing.git
[submodule "测试方向课程/Load-Testing"]
	path = 测试方向课程/Load-Testing
	url = https://github.com/edu2act/course-Load-Testing.git

[submodule "Java与智能设备方向课程/AndroidTV应用开发"]
	path = Java与智能设备方向课程/AndroidTV应用开发
	url = https://github.com/edu2act/course-AndroidTV
[submodule "Java与智能设备方向课程/AndroidWear应用开发"]
	path = Java与智能设备方向课程/AndroidWear应用开发
	url = https://github.com/edu2act/course-AndroidWear
[submodule "Java与智能设备方向课程/JavaSE"]
	path = Java与智能设备方向课程/JavaSE
	url = https://github.com/edu2act/course-JavaSE-Android
[submodule "基础课程/程序设计基础（C语言）"]
	path = 基础课程/程序设计基础（C语言）
	url = https://github.com/edu2act/course-C
[submodule "H5与移动互联网方向课程/jQueryUI"]
	path = H5与移动互联网方向课程/jQueryUI
	url = https://github.com/edu2act/course-jQueryUI.git
[submodule "Java与智能设备方向课程/APICloud"]
	path = Java与智能设备方向课程/APICloud
	url = https://github.com/edu2act/course-APICloud
[submodule "Java与大数据方向课程/JavaSE"]
	path = Java与大数据方向课程/JavaSE
	url = https://github.com/edu2act/course-JavaSE.git
[submodule "PHP与云计算方向课程/foundation"]
	path = PHP与云计算方向课程/foundation
	url = https://github.com/edu2act/foundation-course-of-PHP-and-cloud-computing.git
[submodule "基础课程/数据库系统概论"]
	path = 基础课程/数据库系统概论
	url = https://github.com/edu2act/course-DataBase.git
[submodule "基础课程/项目管理"]
	path = 基础课程/项目管理
	url = https://github.com/edu2act/course-IT-Project-Management.git
[submodule "基础课程/WEB（一）"]
	path = 基础课程/WEB（一）
	url = https://github.com/edu2act/course-web1.git
[submodule "基础课程/CMS与模板制作"]
	path = 基础课程/CMS与模板制作
	url = https://github.com/taozho/cms-.git
[submodule "基础课程/操作系统"]
	path = 基础课程/操作系统
	url = https://github.com/edu2act/course-OS.git
[submodule "基础课程/网络原理"]
	path = 基础课程/网络原理
	url = https://github.com/edu2act/course-NetWork.git
